*
{
    margin: 0;
    padding: 0;
}
/* header { 
    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: repeat-x;
} */


.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    background-color: rgb(66, 219, 204,0.5);
    
}
.main-nav li{
    display: inline-block;
    
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: block;
}
.main-nav li.active a{
    border: 1px solid white;
    
}
.main-nav li a:hover{
    border: 1px solid white;
    background-color: turquoise;
}
.logo img{
    width: 100px;
    height: auto;
    float: left;
}
body{
    font-family: monospace;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: repeat-x;
}
.row
{
    max-width: 1200px;
    margin: auto;
    
}


h0,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20{
    color: white;
    font-size: 50px;
    margin-top: 120px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.subtitle
{
    font-size: 50px;
}
.para0,.para1, .para2, .para3, .para4, .para5, .para6, .para7, .para8, .para9, .para10, .para11, .para12, .para13, .para14, .para15, .para16, .para17, .para18, .para19, .para20
{
    color: white;
    background-color: rgba(0, 0, 0,0.4);
    padding: 50px;
    margin: 100px;
    border-width: 10px;
    border-color: blue;
    border: solid;
    font-size: 20px;
    margin-top: 0px;
}